html {
    background: #000 !important;
}

body {
    text-align: center;
    position: relative;
    white-space: nowrap;
    min-width: min-content;
    background-clip: text !important;
    -webkit-background-clip: text !important;
}
body::-webkit-scrollbar {
    display: none;
}
.lyricInline {
    background-clip: text;
}

/* span.pipWindowLyric {
    line-height: 100%;
}

span.pipWindowLyricTranslate {
    line-height: 50%;
} */

/* span.lyricInline {
    display: inline;
} */