* {
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
}
/* Prevent image material from being dragged or selected */
img {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
::selection {
    background: green;
    color: #fff;
    text-shadow: none;
}
html, body {
    touch-action: manipulation;
    margin: 0;
    padding: 0;
    color: #999;
    font-family: 'Microsoft Yahei','微软雅黑';
}
html {
    background: #1b2426;
}
header h1 {
    display: inline-block;
}
header h1 a {
    color: #bbb;
}
a {
    color: #999;
    text-decoration: none;
}
a:hover {
    color: #eee;
    text-decoration: underline;
}
html.imageBg {
    background: url(../img/bg.png) no-repeat center center fixed;
    /* background: url(../music/90.webp) no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
:root {
    --theme-color: #1296DB;
    --halfBg-background-img: url("../music/1.webp");
}
html.halfBg::before {
    opacity: 0.5;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--halfBg-background-img) no-repeat center center fixed;
    background-size: cover;
    filter: blur(20px) brightness(80%) contrast(130%) hue-rotate(-5deg) saturate(120%);
    z-index: -1;
}
html.colorBg {
    background-image: none;
}
.wrapper {
    text-align: center;
    width: 99%;
    margin: 0 auto;
}
#header {
    text-align: right;
    right: 20px;
    position: absolute;
    z-index: 999;
}
#player {
    margin: auto;
    position: fixed;
    bottom: 5px;
    opacity: 0.6;
    left: 0;
    right: 0;
    z-index: 9999;
}
#player:hover {
    opacity: 1;
}
#playlist_with_button {
    height: 80%;
    width: 50%;
}
#playlist {
    border-radius: 10px;
    text-align: left;
    padding: 5px;
    position: absolute;
    left: 0;
    z-index: 9999;
}
@keyframes rotate360 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359.999deg);
    }
}
#cover_img {
    border: 3px solid #000;
    height: auto;
    width: 60%;
}
#cover_img.rotate, #cover_disc.rotate, #cover_disc_img.rotate {
    border-radius: 100%;
    transition: border-radius 200ms linear;
    animation: rotate360 8s linear infinite;
    animation-play-state: running;
}
#cover_img.paused, #cover_disc.paused, #cover_disc_img.paused {
    animation-play-state: paused !important;
}
#disapointer {
    display: none;
}
#disapointer.playing {
    display: block;
    position: absolute;
    top: -20%;
    right: 10%;
    height: 90%;
    width: auto;
    transition: transform 600ms linear;
    transform-origin: 85.7142857% 8.9108910%;
    /* transform-origin: calc(108 / 126) calc(18 / 202); */
    transform: rotate(-40deg);
}
#disapointer.rotate {
    transform: rotate(-20deg) !important;
}
#cover {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#cover_disc {
    position: absolute;
    height: auto;
    width: 85%;
    opacity: 0.3;
}
#cover_disc_img {
    position: absolute;
    height: auto;
    width: 85%;
    filter: blur(4px);
    opacity: 0.7;
}
#disc_background {
    position: absolute;
    height: auto;
    width: 85%;
    filter: blur(10px);
    opacity: 0.5;
}

.info a {
    color: #bbb;
    text-decoration: underline;
}
.bg {
    width: 12px;
    height: 12px;
    display: inline-block;
    cursor: pointer;
}
#bg_pic {
    background-color: #5493B6;
}
#bg_dark {
    background-color: #272822;
}
#bg_half {
    background-color: #00CC65;
}
#playlist ol {
    /* height: 480px; */
    overflow: auto;
    margin: 0;
}

#toast {
    position: fixed;
    z-index: 999999999;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s ease-in-out;
}

#toast.show {
    opacity: 1;
    visibility: visible;
}

@font-face {
    font-family: "fordefault";
    src: url("../fonts/default.woff2") format('woff2'),
    url("../fonts/default.woff") format('woff'),
    url("../fonts/default.ttc") format('ttc');
}
#menu_font_fordefault {
    font-family: foredefault;
}
@font-face {
    font-family: "kaiti";
    src: url("../fonts/kaiti.woff2") format('woff2'),
    url("../fonts/kaiti.woff") format('woff'),
    url("../fonts/kaiti.ttf") format('ttf');
}
#menu_font_kaiti {
    font-family: kaiti;
}
@font-face {
    font-family: "songti";
    src: url("../fonts/songti.woff2") format('woff2'),
    url("../fonts/songti.woff") format('woff'),
    url("../fonts/songti.ttc") format('ttc');
}
#menu_font_songti {
    font-family: songti;
}
@font-face {
    font-family: "huawenxingkai";
    src: url("../fonts/huawenxingkai.woff2") format('woff2'),
    url("../fonts/huawenxingkai.woff") format('woff'),
    url("../fonts/huawenxingkai.ttf") format('ttf');
}
#menu_font_huawenxingkai {
    font-family: huawenxingkai;
}
@font-face {
    font-family: "youyuan";
    src: url("../fonts/youyuan.woff2") format('woff2'),
    url("../fonts/youyuan.woff") format('woff'),
    url("../fonts/youyuan.ttf") format('ttf');
}
#menu_font_youyuan {
    font-family: youyuan;
}
@font-face {
    font-family: "fangzhengshuti";
    src: url("../fonts/fangzhengshuti.woff2") format('woff2'),
    url("../fonts/fangzhengshuti.woff") format('woff'),
    url("../fonts/fangzhengshuti.ttf") format('ttf');
}
#menu_font_fangzhengshuti {
    font-family: fangzhengshuti;
}
#config {
    position: fixed;
    min-height: 100vh;
    min-width: 100vw;
    top: 0;
    z-index: 999999999;
    background: #1b2426;
    opacity: 0.95;
    cursor: default;
}
#config>div {
    position: absolute;
    top: 40px;
}
#configBackButton {
    position: fixed;
    left: 10px;
    top: 10px;
    background: #eee;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    color: #000;
}
#configDefaultButton {
    position: fixed;
    left: 50px;
    top: 10px;
    height: 25px;
    font-size: 18px;
    background: #eee;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    color: #000;
}
#config button:hover {
    filter: brightness(120%);
}
#config button {
    cursor: pointer;
}
#config .menu_button {
    border: none;
    background: none;
    font-size: 1em;
    color: #999;
}
#config .menu_button:hover {
    color: #fff !important;
}

#config button.menu_lyricColor_button {
    color: transparent;
    border: none;
    border-radius: 10%;
}
#config button.menu_lyricColor_button.choosed {
    border: 2px solid #bbb;
}
#config #menu_lyricColor_FAFA17 {
    background: #FAFA17;
}
#config #menu_lyricColor_ff1493 {
    background: #ff1493;
}
#config #menu_lyricColor_adff2f {
    background: #adff2f;
}
#config #menu_lyricColor_d731f8 {
    background: #d731f8;
}
#config #menu_lyricColor_00CC65 {
    background: #00CC65;
}

/* mobile */
@media screen and (max-width: 768px) {

    #controlButtons button {
        width: 20px;
    }

    #controlButtons .piece {
        position: relative;
        right: 30px;
    }

    #configButton {
        position: fixed;
        z-index: 9999999999999;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        color: #999;
        transition: color 200ms linear;
        cursor: pointer;
    }
    #configButton:hover {
        color: #fff;
    }

    #lyricWrapper {
        /* for test */
        /* background: #1493dd; */
        width: 90% !important;
    }
    #spectrum {
        width: 90%;
    }
    .mobileButton {
        display: block !important;
        width: 40vw;
    }
    #button_search-container{
        text-align: center;
        max-height: 30px;
        max-width: 200px;
        height: 30px;
        font-size: 18px;
        padding: 0px 20px 18px 20px;
        position: fixed;
        left: 0;
        right: 0;
        top: 31px;
        z-index: 9999;
        background-color: #fff;
        color: #000;
        border-radius: 5px;
        border: 2px solid #000;
        
        -webkit-transition-duration: 0.8s; /* Safari */
        transition-duration: 0.8s;
        text-decoration: none;
        overflow: hidden;
        cursor: pointer;
    }
    
    #button_search-container:after {
        content: "";
        background: #1493dd;
        display: block;
        position: relative;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px!important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s
    }
    
    #button_search-container:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
    }
    #playlist_button {
        text-align: center;
        max-height: 30px;
        max-width: 200px;
        height: 30px;
        font-size: 18px;
        padding: 0px 20px 18px 20px;
        position: fixed;
        left: 0;
        right: 0;
        z-index: 9999;
        background-color: #fff;
        color: #000;
        border-radius: 5px;
        border: 2px solid #000;
        
        -webkit-transition-duration: 0.8s; /* Safari */
        transition-duration: 0.8s;
        text-decoration: none;
        overflow: hidden;
        cursor: pointer;
    }
    
    #playlist_button:after {
        content: "";
        background: #1493dd;
        display: block;
        position: relative;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px!important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s
    }
    
    #playlist_button:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
    }
    #songimg {
        display: none;
    }
    #playlist {
        width: 80vw;
        height: calc(100vh - 140px);
        background-color: #1b2426;
        display: none;
    }
    #playlist ol {
        height: calc(100% - 16px);
    }
    #player {
        width: 90vw;
        opacity: 1;
        bottom: 0;
    }
    #search-container {
        width: 80vw;
        left: 0;
        right: auto;
        top: 60px;
        display: none;
    }
}
/* PC */
@media screen and (min-width: 769px) {

    /* #controlButtons .piece {
        position: relative;
        right: 0;
    } */

    #lyricWrapper {
        /* for test */
        /* background-color: #A6E22D; */
        width: 50%;
    }
    #spectrum {
        width: 50%;
    }
    .mobileButton {
        display: none !important;
    }
    #songimg {
        right: -3.6vw;
        text-align: center;
        margin: auto;
        padding: 70px 70px 70px 70px;
        display: block;
        position: fixed;
        width: 24vw;
        height: 24vw;
        z-index: 999;
        top: calc((90vh - 24vw) / 2);
    }
    #playlist {
        background: #32323280;
        width: 23vw;
        height: 90vh;
        display: block !important;
        /* overflow: auto; */
    }
    #playlist ol{
        height: calc(100% - 16px);
    }
    #player {
        width: 50vw;
        bottom: 5px;
        opacity: 0.6;
        transition: opacity 100ms linear;
    }
    #player:hover {
        opacity: 1;
    }
    #search-container {
        display: block !important;
        width: 24vw;
        left: auto;
        right: 20px;
        top: 20px;
    }
    #songinfo_name {
        font-size: calc(24vw / 15) !important;
    }
    #songinfo_artist {
        font-size: calc(24vw / 20) !important;
    }
    #songinfo_album {
        font-size: calc(24vw / 20) !important;
    }
    #songinfo {
        top: 15%;
        width: 70%;
    }
    #configButton {
        display: flex;
        align-items: center;
        position: fixed;
        z-index: 9999999999999;
        bottom: 10px;
        right: 10px;
        background: none;
        border: none;
        color: #999;
        transition: color 200ms linear;
        cursor: pointer;
    }
    #configButton:hover {
        color: #fff;
    }
}
#search-container {
    position: fixed;
    z-index: 1000;
}


#lyricWrapper {
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    overflow: scroll;
    position: relative;
    margin-top: 20px;
    color: #fff;
    height: calc(100vh - 130px);
}

/*hide scrollbar of lyricWrapper*/
#lyricWrapper::-webkit-scrollbar {
    display: none;
}

/* http://stackoverflow.com/questions/13426875/text-border-using-css-border-around-text */

#lyricContainer {
    -webkit-background-clip: text;
    background-clip: text;
    position: relative;
    top: 30%;
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000; 
}

@keyframes lyric_sync_letter {
    0% {
        background-size:0 100%;
    }
    100% {
        background-size:100% 100%;
    }
}
/*the highlight color of the current lyric line*/
.current-line-FAFA17 {
    width: auto;
    color: #FAFA17;
    font-weight: bolder;
    font-size: 1.4em;
}
.current-line-ff1493 {
    width: auto;
    color: #ff1493;
    font-weight: bolder;
    font-size: 1.4em;
}
.current-line-adff2f {
    width: auto;
    color: #adff2f;
    font-weight: bolder;
    font-size: 1.4em;
}
.current-line-d731f8 {
    width: auto;
    color: #d731f8;
    font-weight: bolder;
    font-size: 1.4em;
}
.current-line-00CC65 {
    width: auto;
    color: #00CC65;
    font-weight: bolder;
    font-size: 1.4em;
}
.lyric-line {
    cursor: pointer;
}
/* xrc */
.current-line {
    transition: font-size 0.015s linear;
    font-size: 1.6em;
}

.current-line-xrc {
    text-shadow: none;
    font-weight: bolder;
}
.current-line-xrc-FAFA17 {
    text-shadow: none !important;
    font-weight: bolder;
    transition-property: color;
    transition-duration: 0s;
    transition-timing-function: linear;
    background:#fff -webkit-linear-gradient(left, #FAFA17, #FAFA17) no-repeat 0 0;
    background-size: 0% 100%;
    color: transparent;
}
.current-line-xrc-ff1493 {
    text-shadow: none !important;
    font-weight: bolder;
    transition-property: color;
    transition-duration: 0s;
    transition-timing-function: linear;
    background:#fff -webkit-linear-gradient(left, #ff1493, #ff1493) no-repeat 0 0;
    background-size: 0% 100%;
    color: transparent;
}
.current-line-xrc-adff2f {
    text-shadow: none !important;
    font-weight: bolder;
    transition-property: color;
    transition-duration: 0s;
    transition-timing-function: linear;
    background:#fff -webkit-linear-gradient(left, #adff2f, #adff2f) no-repeat 0 0;
    background-size: 0% 100%;
    color: transparent;
}
.current-line-xrc-d731f8 {
    text-shadow: none !important;
    font-weight: bolder;
    transition-property: color;
    transition-duration: 0s;
    transition-timing-function: linear;
    background:#fff -webkit-linear-gradient(left, #d731f8, #d731f8) no-repeat 0 0;
    background-size: 0% 100%;
    color: transparent;
}
.current-line-xrc-00CC65 {
    text-shadow: none !important;
    font-weight: bolder;
    transition-property: color;
    transition-duration: 0s;
    transition-timing-function: linear;
    background:#fff -webkit-linear-gradient(left, #00CC65, #00CC65) no-repeat 0 0;
    background-size: 0% 100%;
    color: transparent;
}
.current-line-xrc-played-FAFA17 {
    background:#fff -webkit-linear-gradient(left, #FAFA17, #FAFA17) no-repeat 0 0;
    background-size: 100% 100% !important;
}
.current-line-xrc-played-ff1493 {
    background:#fff -webkit-linear-gradient(left, #ff1493, #ff1493) no-repeat 0 0;
    background-size: 100% 100% !important;
}
.current-line-xrc-played-adff2f {
    background:#fff -webkit-linear-gradient(left, #adff2f, #adff2f) no-repeat 0 0;
    background-size: 100% 100% !important;
}
.current-line-xrc-played-d731f8 {
    background:#fff -webkit-linear-gradient(left, #d731f8, #d731f8) no-repeat 0 0;
    background-size: 100% 100% !important;
}
.current-line-xrc-played-00CC65 {
    background:#fff -webkit-linear-gradient(left, #00CC65, #00CC65) no-repeat 0 0;
    background-size: 100% 100% !important;
}
@keyframes lyric_sync_letter {
    0% {
        background-size:0 100%;
    }
    100% {
        background-size:100% 100%;
    }
}
.current-line-xrc-playing-FAFA17 {
    background:#fff -webkit-linear-gradient(left, #FAFA17, #FAFA17) no-repeat 0 0;
}
.current-line-xrc-playing-ff1493 {
    background:#fff -webkit-linear-gradient(left, #ff1493, #ff1493) no-repeat 0 0;
}
.current-line-xrc-playing-adff2f {
    background:#fff -webkit-linear-gradient(left, #adff2f, #adff2f) no-repeat 0 0;
}
.current-line-xrc-playing-d731f8 {
    background:#fff -webkit-linear-gradient(left, #d731f8, #d731f8) no-repeat 0 0;
}
.current-line-xrc-playing-00CC65 {
    background:#fff -webkit-linear-gradient(left, #00CC65, #00CC65) no-repeat 0 0;
}
.current-song-played, .current-song-played a {
    color: #1493dd;
}
.current-song, .current-song a {
    color: #A6E22D;
}

#desktopLyricButton {
    position: absolute;
    right: 8px;
    top: 18px;
    font-size: 1.1em;
    font-weight: bolder;
    background: none;
    filter: brightness(75%);
    border-radius: 10%;
    border: none;
    transition: filter 200ms linear;
    cursor: pointer;
}
#desktopLyricButton:hover {
    filter: brightness(90%);
}
#desktopLyricButton.unclick {
    color: #999999;
}

/*for song info*/
#songinfo_name{
    font-size: 20px;
    color: #fff;
}
#songinfo_artist{
    font-size: 15px;
    color: #bbb;
}
#songinfo_album{
    font-size: 15px;
    color: #bbb;
}
#songinfo{
    position: relative;
    margin: auto;
    text-align:center;
}

#playlist{
    color: #999;
}

/*custom scrollbar for webkit browsers*/
#playlist ol::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 15px;
	background-color: #F5F5F5;
}

#playlist ol::-webkit-scrollbar {
	width: 5px;
    border-radius: 15px;
	background-color: #F5F5F5;
}

#playlist ol::-webkit-scrollbar-thumb {
	border-radius: 15px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #BCBCBC;
}

/* 
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
} */

/* #menu-playmode {
    text-align: right;
    position: relative;
    right: 0;
}
#menu-font {
    text-align: right;
    position: relative;
    right: 0;
}

#menu-fontFamily {
    text-align: right;
    position: relative;
    right: 0;
} */

.menu-title {
    width: auto;
}

#search-box {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#search-results {
    list-style: none;
    margin-top: 10px;
    padding: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
}
#search-results li {
    position: relative;
}
#search-results span.searchResultAlbum {
    position: absolute;
    bottom: 0;
    left: 45px;
    font-size: 10px;
    font-style: italic;
}

#search-results::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 15px;
	background-color: #F5F5F5;
}

#search-results::-webkit-scrollbar
{
	width: 5px;
    border-radius: 15px;
	background-color: #F5F5F5;
}

#search-results::-webkit-scrollbar-thumb
{
	border-radius: 15px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #BCBCBC;
}

#search-results li {
    color: black;
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
}

#search-results li:hover {
    background-color: #f1f1f1;
}

#search-results li img {
    height: 2em;
    width: auto;
    /* text-align: center; */
}
#search-results li span {
    margin-left: 1em;
    /* text-align: center; */
}

#spectrum {
    position: fixed;
    bottom: 83px;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
}
#spectrum-cvs {
    height: 80px;
    width: 95%;
}

.audio-wrapper {
    text-align: center;
    background-color: #fcfcfc;
    margin: 10px auto;
    height: 70px;
    border: 1px solid #e0e0e0;
    color: #3e3e3e;
    border-radius: 10px;
}

.audio-left {
    float: left;
    text-align: center;
    width: 18%;
    height: 100%;
}

.audio-left button {
    background: none;
    border: none;
    color: var(--theme-color);
    width: auto;
    height: auto;
    position: relative;
    top: calc(50% - 20px);
    margin: 0;
    display: initial;
    cursor: pointer;
}

.audio-right {
    margin-right: 2%;
    float: right;
    width: 80%;
    height: 100%;
}

.audio-right p {
    font-size: 15px;
    height: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 2px;
    /* margin: 12px 0 2px 0; */

    /* only 1 line for songs' name */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 243px;
}

#controlButtons {
    position: relative;
    top: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#controlButtons button:hover {
    filter: brightness(120%);
}
#playbackRateButton {
    height: 26px;
    padding: 0;
    width: 40px !important;
    text-align: center;
    font-size: 12px;
    color: #999999;
    border: 1px solid;
    border-radius: 3px;
}
#playbackRateButton:hover {
    color: var(--theme-color);
}
.audio-right button {
    color: var(--theme-color);
    background: none;
    border: none;
    cursor: pointer;
}
#volumeButton {
    position: relative;
}
#volumeConfig {
    top: -200px;
    right: -7px;
}
#playbackRateConfig {
    top: -200px;
    width: auto;
}
#playbackRateConfig .bar-bg {
    float: left;
    left: 10px;
}
#playbackRateConfig .dot {
    top: calc(50% - 5px);
}
#playbackRateConfig .bar {
    top: 50%;
    height: 50%;
}
#playbackRateConfig .flag {
    float: right;
    position: relative;
    right: 30px;
    width: auto;
    height: 100%;
    font-size: 1.1em;
}
#playbackRateConfig .flag .a1-5 {
    position: absolute;
    top: 0;
}
#playbackRateConfig .flag .a1-0 {
    position: absolute;
    top: calc(50% - calc(1.1em / 2));
}
#playbackRateConfig .flag .a0-5 {
    position: absolute;
    bottom: 0;
}
#playbackRateConfig .bar-bg {
    height: 160px;
}

.progress {
    position: absolute;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
}
.progress .ctrl {
    background: #fff;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.75);
    width: 50px;
    height: 180px;
    border-radius: 5px;
}
.progress svg {
    position: relative;
    top: -7px;
}
.progress .dot {
    position: absolute;
    width: 10px;
    height: 10px;
    left: -3.5px;
    top: -5px;
    border-radius: 100%;
    background: var(--theme-color);
    transition: top 0s linear;
}
.progress .bar {
    position: absolute;
    width: 3px;
    height: 100%;
    background: var(--theme-color);
    transition: top 0s linear;
    transition: height 0s linear;
}
.progress .bar-bg {
    height: 130px;
    top: 10px;
    width: 3px;
    background: #999;
    left: calc(50% - 2.5px);
    position: relative;
}
.progress hr {
    position: relative;
    top: 10px;
    width: 75%;
}
#volumeConfig.progress .percent {
    text-align: center;
    position: relative;
    font-size: 18px;
    text-align: center;
    top: 5px;
}

.progress-bar-bg {
    background-color: #d9d9d9;
    position: relative;
    height: 3px;
    cursor: pointer;
    transition: height 200ms linear;
    transition: width 0s linear;
}
.progress-bar-bg:hover {
    height: 6px;
}

.progress-bar {
    background-color: #649fec;
    width: 0;
    height: inherit;
    transition: height 200ms linear;
}

.progress-bar-bg span {
    content: " ";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #3e87e8;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -5px;
    margin-left: -5px;
    cursor: pointer;
    transition: left 0s linear;
}

.audio-time {
    overflow: hidden;
    margin-top: 1px;
}

#audio-length-total {
    float: right;
    font-size: 12px;
}

.audio-length-current {
    float: left;
    font-size: 12px;
}
